/* src/index.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* Belirgin Modern Mavi Tonu */
    background-color: #7b96c1 !important; 
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}